<section class="innerSec" style="background: #e8ebee; padding: 40px">
  <article
    class="innerArea"
    style="
      width: 400px;
      padding: 20px;
      margin: 0 auto;
      border-radius: 12px;
      background: #fff;
    "
  >
    <a
      href="http://localhost:3000/"
      target="_blank"
      style="
        display: block;
        margin: 14px auto 0;
        font-size: 20px;
        text-decoration: none;
        color: #000;
      "
    >
      Qding
    </a>

    <p
      class="text"
      style="
        display: block;
        margin: 14px auto 0;
        font-size: 16px;
        color: #1a202c;
      "
    >
      안녕하세요,<br />
      아이디 <u>{{email}}</u>로 부터 이메일 인증이 요청되었습니다.<br />
      본인이시라면 하단의 <u> 인증하기 버튼</u>을 눌러주세요
    </p>

    <a
      class="actionBtn"
      href="{{url}}"
      target="_blank"
      style="
        display: block;
        width: 180px;
        height: 40px;
        margin: 20px auto 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        background: #f44c66;
        border-radius: 8px;
        cursor: pointer;
      "
    >
      인증하기
    </a>
  </article>
</section>
